<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>

<h3>Customer Registration Form</h3>

<form th:action="@{/processCustomerForm}" th:object="${customer}" method="post">

    First Name: <input type="text" th:field="${customer.firstName}">

    <br><br>

    Last Name (*): <input type="text" th:field="${customer.lastName}">

    <!-- Add error message (if present) -->
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="${customer.lastName}" class="error"></span>

    <br><br>

    Free Passes: <input type="text" th:field="${customer.freePasses}">

    <!-- Add error message (if present) -->
    <span th:if="${#fields.hasErrors('freePasses')}" th:errors="${customer.freePasses}"
          class="error"></span>

    <br><br>

    Postal Code: <input type="text" th:field="${customer.postalCode}">

    <!-- Add error message (if present) -->
    <span th:if="${#fields.hasErrors('postalCode')}" th:errors="${customer.postalCode}"
          class="error"></span>

    <br><br>

    Course Code: <input type="text" th:field="${customer.courseCode}">

    <!-- Add error message (if present) -->
    <span th:if="${#fields.hasErrors('courseCode')}" th:errors="${customer.courseCode}"
          class="error"></span>

    <br><br>

    <input type="submit">
</form>

</body>
</html>